@-webkit-keyframes progress { 0% { width: 0; }
  to { width: 100%; } }

@keyframes progress { 0% { width: 0; }
  to { width: 100%; } }

* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; background-position: center; background-repeat: no-repeat; }

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

h1, h2, h3, h4, h5 { font-weight: inherit; font-family: "Roboto", sans-serif; margin: 0; line-height: 1; }

html { position: relative; line-height: 1; font-size: 10px; -webkit-transition: 0.3s ease; -o-transition: 0.3s ease; transition: 0.3s ease; }

html.adminbg { height: 100%; }

body { font-family: "Roboto", sans-serif; font-weight: 300; font-size: 1.3rem; background-color: #fff; color: #222; width: 100%; position: relative; -webkit-tap-highlight-color: transparent; }

body.compensate-for-scrollbar { overflow: auto; margin-right: inherit; }

a { text-decoration: none; color: inherit; outline: none; }

a:hover, a:focus { color: inherit; text-decoration: none; }

p { margin-bottom: 0; }

img { display: block; }

button, input, textarea { outline: none; -webkit-border-radius: 0; border-radius: 0; }

button:hover, button:focus, input:hover, input:focus, textarea:hover, textarea:focus { outline: none; -webkit-box-shadow: none; box-shadow: none; }

section, footer, header { width: 100%; position: relative; }

.wrapper { max-width: 100%; min-width: 30rem; width: 100%; position: relative; z-index: 2; padding: 0 0; height: 100%; margin: 0 auto; }

.link { -webkit-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), color 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 300ms cubic-bezier(0.694, 0, 0.335, 1), border-color 300ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), color 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 300ms cubic-bezier(0.694, 0, 0.335, 1), border-color 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), color 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 300ms cubic-bezier(0.694, 0, 0.335, 1), border-color 300ms cubic-bezier(0.694, 0, 0.335, 1); }

.link--change { padding-bottom: .5rem; position: relative; }

.link--change:after { opacity: 1; -webkit-transition: opacity 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1), background 0ms 1250ms step-end, -webkit-transform 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1), background 0ms 1250ms step-end, -webkit-transform 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: transform 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1), opacity 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1), background 0ms 1250ms step-end; transition: transform 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1), opacity 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1), background 0ms 1250ms step-end; transition: transform 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1), opacity 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1), background 0ms 1250ms step-end, -webkit-transform 625ms 625ms cubic-bezier(0.694, 0, 0.335, 1); position: absolute; top: 100%; right: 1rem; background: #000; content: ''; width: 100%; height: .1rem; }

.link--small { padding: 1.3em 0; background: transparent; font-weight: 500; color: #000; font-size: 1.1rem; display: block; line-height: 1.1rem; letter-spacing: .2rem; text-transform: uppercase; white-space: nowrap; }

.link--small:hover { opacity: .8; }

.link--small.is--dropdown svg { width: 1rem; height: .8rem; stroke-width: .3rem; display: inline-block; margin-left: .2rem; fill: none; stroke: #000; transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1), stroke 300ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); }

.link-nav { display: block; width: 100%; font-size: 1.2rem; line-height: 2.1rem; color: #888; }

.link-nav:hover { color: #333; }

.link--logo { display: inline-block; }

.link--logo svg { -webkit-transition: fill 300ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: fill 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: fill 300ms cubic-bezier(0.694, 0, 0.335, 1); display: block; width: 3rem; height: 2.5rem; }

.link--logo.is--full svg { fill: #fff; width: 16.8rem; }

.link--logo.is--fill svg { fill: #000; }

.link-dropdown { margin-top: 4rem; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -webkit-justify-content: space-between; -ms-flex-pack: justify; justify-content: space-between; text-align: left; color: #666; font-size: 1rem; padding: 1.25rem; width: 100%; max-width: 11rem; background: transparent; border: .1rem solid #e5e5e5; }

.link-dropdown svg { display: block; width: .55rem; }

.link-dropdown + .link-dropdown { margin-top: 1rem; }

.btn { -webkit-border-radius: 0; border-radius: 0; outline: none; cursor: pointer; font-family: "Roboto", sans-serif; font-size: 1.4rem; -webkit-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 300ms cubic-bezier(0.694, 0, 0.335, 1), color 300ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 300ms cubic-bezier(0.694, 0, 0.335, 1), color 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), background-color 300ms cubic-bezier(0.694, 0, 0.335, 1), color 300ms cubic-bezier(0.694, 0, 0.335, 1); border: none; line-height: 1.1rem; text-align: center; font-weight: 500; letter-spacing: .091em; text-rendering: optimizeLegibility; text-transform: uppercase; -webkit-font-smoothing: antialiased; -webkit-appearance: none; -moz-appearance: none; appearance: none; }

.btn:hover, .btn:focus { outline: none; -webkit-box-shadow: none; box-shadow: none; }

.btn--detail { font-size: 1.1rem; background: transparent; color: #0a0909; padding: .8em 0; border: .11rem solid transparent; border-color: transparent transparent rgba(0, 0, 0, 0.3) transparent; }

.btn--detail.is--left { margin-left: 3.6rem; }

.btn--detail:hover { opacity: 0.8; }

.btn--section { font-size: 1.1rem; display: inline-block; padding: 1.8em 3.6em; color: #fff; background: black; letter-spacing: .2rem; text-transform: uppercase; }

.btn--section:hover { opacity: .8; }

.btn--white { justify-self: flex-end; background: transparent; color: #000; border: .11rem solid #000; }

.btn--white:hover { opacity: 1; color: #fff; background: #000; }

.btn--header { padding: 1.3em 2.5em; }

.paragraph { color: #767676; line-height: 2.2rem; }

.paragraph--main { font-size: 1.3rem; max-width: 34em; color: rgba(0, 0, 0, 0.5); margin: 3rem auto 4rem auto; transition: opacity 700ms 400ms cubic-bezier(0.694, 0, 0.335, 1), color 300ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms 400ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms 400ms cubic-bezier(0.694, 0, 0.335, 1); }

.paragraph--subtitle { color: rgba(0, 0, 0, 0.5); font-weight: 500; letter-spacing: .33333333em; font-size: .9rem; }

.paragraph-slide { font-weight: 300; font-size: 1.4rem; }

.paragraph--section { font-weight: 300; font-size: 1.4rem; }

.paragraph--section.is--left { padding-right: 5rem; }

.title { color: #222; }

.title--main { background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(20%, transparent), color-stop(40%, #000), color-stop(60%, #000), color-stop(80%, transparent), to(transparent)); background-image: -webkit-linear-gradient(left, transparent 0%, transparent 20%, #000 40%, #000 60%, transparent 80%, transparent 100%); background-image: -o-linear-gradient(left, transparent 0%, transparent 20%, #000 40%, #000 60%, transparent 80%, transparent 100%); background-image: linear-gradient(to right, transparent 0%, transparent 20%, #000 40%, #000 60%, transparent 80%, transparent 100%); background-position: 50% center; position: relative; -webkit-background-size: 500% auto; background-size: 500% auto; font-size: 5.5rem; font-weight: 400; -webkit-background-clip: text; background-clip: text; text-rendering: geometricPrecision; text-fill-color: #000; -webkit-transition: background-position 1250ms 1250ms linear,visibility 0ms 1250ms linear,opacity 0ms 1250ms linear; -o-transition: background-position 1250ms 1250ms linear,visibility 0ms 1250ms linear,opacity 0ms 1250ms linear; transition: background-position 1250ms 1250ms linear,visibility 0ms 1250ms linear,opacity 0ms 1250ms linear; color: #000; }

.title-slide { font-size: 1.7rem; letter-spacing: .21428571rem; font-weight: 500; text-transform: uppercase; }

.title-popup { font-size: 2.6rem; color: #fff; text-align: center; }

.title--section { letter-spacing: .21428571rem; font-weight: 500; text-transform: uppercase; font-size: 1.7rem; }

.title--side { margin: 2rem 0; padding-right: 5rem; line-height: 1.63636364em; font-size: 2.2rem; letter-spacing: .20454545em; }

.swiper-container-horizontal > .swiper-pagination-bullets { bottom: 6.5rem; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet { -webkit-box-sizing: content-box; box-sizing: content-box; -webkit-background-clip: content-box; background-clip: content-box; -webkit-border-radius: 0; border-radius: 0; outline: none; width: 3rem; padding: 1.5rem 0; height: .1rem; margin: 0 .5rem; background-color: rgba(255, 255, 255, 0.2); position: relative; opacity: 1; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet .line { display: block; height: 100%; background-color: transparent; -webkit-transition: 0.3s ease; -o-transition: 0.3s ease; transition: 0.3s ease; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:hover .line { background-color: #cbcbcb; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active { background-color: rgba(255, 255, 255, 0.2); }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet-active .line { background: #fff; width: 100%; -webkit-animation: progress 10000ms 1 linear; animation: progress 10000ms 1 linear; }

.fancybox-is-open .fancybox-bg { background: black; opacity: .85; }

.fancybox-button { outline: none; transition: opacity 400ms cubic-bezier(0.694, 0, 0.335, 1), transform 400ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 400ms cubic-bezier(0.694, 0, 0.335, 1); }

.fancybox-button--close { position: absolute; outline: none; top: 3rem; right: 3rem; width: 3rem; height: 3rem; padding: 0; opacity: .75; background: none; -webkit-transform: scale(0.75); -ms-transform: scale(0.75); transform: scale(0.75); }

.fancybox-button--close:hover { opacity: 1; background: none; -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }

.fancybox-button svg { outline: none; margin-right: 0; display: block; width: 100%; height: 100%; stroke: none; }

.fancybox-button svg line { stroke: #fff; fill: none; }

.team { padding: 10rem 0; }

.team .container-fluid { padding: 0; }

.team .container-fluid .team__slider { width: 100%; }

.team .container-fluid .team__slider--description { padding-top: 2rem; }

.team .container-fluid .team__slider--description p { padding-top: 1rem; }

.team .container-fluid .team__slider--content { position: relative; }

.team .container-fluid .team__slider--bg { overflow: hidden; width: 100%; height: 100%; }

.team .container-fluid .team__slider--bg img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1); }

.team .container-fluid .team__slider--slide { cursor: pointer; }

.team .container-fluid .team__slider--slide:hover img { -webkit-transform: scale(1.08); -ms-transform: scale(1.08); transform: scale(1.08); }

.team .container-fluid .team__slider--slide:hover .team__slider--direct { opacity: 1; background: rgba(0, 0, 0, 0.4); }

.team .container-fluid .team__slider--direct { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; background: transparent; -webkit-transition: 0.3s ease; -o-transition: 0.3s ease; transition: 0.3s ease; }

.main { width: 100%; height: 100vh; min-height: 75rem; }

.main .container-fluid { padding: 0; height: 100%; }

.main .container-fluid .row { height: 100%; }

.main__content { width: 100%; height: 100%; position: relative; z-index: 3; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; }

.main__content--sub { position: relative; z-index: 3; }

.main__slider { position: absolute; z-index: 2; top: 0; left: 0; width: 100%; height: 100%; }

.main__slider--slide { width: 100%; height: 100%; }

.main__slider--slide img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.footer { border-top: 0.1rem solid rgba(0, 0, 0, 0.1); }

.footer .container-fluid { width: 85%; max-width: 153rem; padding: 11rem 0 14rem 0; }

.footer__nav--title { font-size: 1.2rem; margin-bottom: 2.2rem; letter-spacing: .21428571em; font-weight: 500; text-transform: uppercase; }

.footer__nav--list { list-style: none; }

.footer__nav--item { margin-bottom: .7rem; }

.footer__nav--item:last-child { margin-bottom: 0; }

.no-gutters { margin-right: 0; margin-left: 0; }

.no-gutters > .col, .no-gutters > [class*="col-"] { padding-right: 0; padding-left: 0; }

.drop .fancybox-content { padding: 0; max-width: 60rem; width: 100%; background: transparent; }

.drop .fancybox-content .list__currency { margin-top: 2.2rem; margin-bottom: 0; list-style: none; text-align: center; }

.drop .fancybox-content .list__currency--item { line-height: 4.5rem; }

.drop .fancybox-content .list__currency--link { display: inline-block; position: relative; font-size: 2rem; font-weight: 300; -webkit-text-decoration: uppercase; text-decoration: uppercase; color: #fff; }

.drop .fancybox-content .list__currency--link:after { position: absolute; bottom: .4rem; left: 0; width: 100%; height: .1rem; content: ''; background: #fff; -webkit-transform-origin: left center; -ms-transform-origin: left center; transform-origin: left center; -webkit-transform: scale3d(0, 1, 1); transform: scale3d(0, 1, 1); -webkit-transition: -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); }

.drop .fancybox-content .list__currency--link .symbol { color: #fff; }

.drop .fancybox-content .list__currency--link .code { -webkit-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1); opacity: .6; }

.drop .fancybox-content .list__currency--link:hover .code { opacity: 1; }

.drop .fancybox-content .list__currency--link:hover:after { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }

.drop .fancybox-content .list__currency--link.active .code { opacity: 1; }

.drop .fancybox-content .list__currency--link.active:after { -webkit-transform: scale3d(1, 1, 1); transform: scale3d(1, 1, 1); }

.hero { padding-top: 14rem; }

.hero .container-fluid { padding: 0 8vw; }

.desing, .marketing { padding-bottom: 18rem; }

.desing .container-fluid, .marketing .container-fluid { padding: 0 8vw; }

.desing__nav, .marketing__nav { position: absolute; bottom: 0; right: 0; }

.desing__nav-link, .marketing__nav-link { -webkit-box-sizing: content-box; box-sizing: content-box; border: none; outline: none; width: 2.5rem; height: 2.5rem; background: transparent; padding: 2rem .5rem 2rem 0; }

.desing__nav-link + .desing__nav-link, .marketing__nav-link + .desing__nav-link, .desing__nav-link + .marketing__nav-link, .marketing__nav-link + .marketing__nav-link { padding-left: .5rem; padding-right: 0; }

.desing__nav-link svg, .marketing__nav-link svg { fill: none; display: block; width: 100%; height: 100%; stroke-width: .4rem; stroke: rgba(0, 0, 0, 0.6); -webkit-transition: stroke 100ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: stroke 100ms cubic-bezier(0.694, 0, 0.335, 1); transition: stroke 100ms cubic-bezier(0.694, 0, 0.335, 1); }

.desing__nav-link:hover svg, .marketing__nav-link:hover svg { stroke: #000; }

.desing__bg, .marketing__bg { max-width: 27vw; margin-left: 0; width: 100%; height: 100%; }

.desing__bg-slide, .marketing__bg-slide { width: 100%; height: 100%; }

.desing__bg-slide img, .marketing__bg-slide img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; }

.desing__sliders, .marketing__sliders { position: relative; }

.desing__slider, .marketing__slider { max-width: 38vw; width: 100%; position: absolute; top: 50%; -webkit-box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2); box-shadow: 0 1.8vw 4vw -0.7vw rgba(0, 0, 0, 0.2); margin: auto; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); right: 0; }

.desing__slider-content, .marketing__slider-content { position: relative; width: 100%; }

.desing__slider-direct, .marketing__slider-direct { opacity: 0; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -webkit-flex-direction: row; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -webkit-align-items: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -webkit-justify-content: center; -ms-flex-pack: center; justify-content: center; background: transparent; -webkit-transition: 0.3s ease; -o-transition: 0.3s ease; transition: 0.3s ease; }

.desing__slider-photo, .marketing__slider-photo { overflow: hidden; width: 100%; height: 100%; }

.desing__slider-photo img, .marketing__slider-photo img { width: 100%; height: 100%; -o-object-fit: cover; object-fit: cover; -webkit-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1); transition: opacity 300ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1), -webkit-transform 700ms cubic-bezier(0.694, 0, 0.335, 1); }

.desing__slider-slide, .marketing__slider-slide { cursor: pointer; width: 100%; height: 100%; }

.desing__slider-slide:hover img, .marketing__slider-slide:hover img { -webkit-transform: scale(1.08); -ms-transform: scale(1.08); transform: scale(1.08); }

.desing__slider-slide:hover .desing__slider-direct, .marketing__slider-slide:hover .desing__slider-direct { opacity: 1; background: rgba(0, 0, 0, 0.4); }

.btns { margin-top: 4rem; }

.header { top: 0; left: 0; width: 100%; padding: 2rem 0; z-index: 9; -webkit-transition: visibility 300ms step-end, -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: visibility 300ms step-end, -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1), visibility 300ms step-end; transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1), visibility 300ms step-end; transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1), visibility 300ms step-end, -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); }

.header .container-fluid { padding: 0 8vw; }

.header__divider { width: .1rem; height: 1.5em; -webkit-transition: background-color 300ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: background-color 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: background-color 300ms cubic-bezier(0.694, 0, 0.335, 1); background-color: rgba(0, 0, 0, 0.3); }

.header.is--white { z-index: 99; visibility: hidden; -webkit-transform: translate3d(0, -100%, 0); transform: translate3d(0, -100%, 0); background: #fff; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); }

.header.is--active { -webkit-transition: visibility 300ms step-start, -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: visibility 300ms step-start, -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1), visibility 300ms step-start; transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1), visibility 300ms step-start; transition: transform 300ms cubic-bezier(0.694, 0, 0.335, 1), visibility 300ms step-start, -webkit-transform 300ms cubic-bezier(0.694, 0, 0.335, 1); -webkit-transform: none; -ms-transform: none; transform: none; visibility: visible; }

.position-absolute { position: absolute; }

.position-fixed { position: fixed; }

.note { opacity: .6; -webkit-transition: color 300ms cubic-bezier(0.694, 0, 0.335, 1); -o-transition: color 300ms cubic-bezier(0.694, 0, 0.335, 1); transition: color 300ms cubic-bezier(0.694, 0, 0.335, 1); font-weight: 300; margin-top: 2rem; color: #000; font-size: 1.3rem; }

.dropdown__tour { display: none; z-index: 10; position: absolute; top: 100%; left: 0; background: #fff; }

.dropdown__tour-list { list-style: none; }
